# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBXaIu6wZJc9oyY-WFr4vLLyDSHJXG4nxg
VITE_FIREBASE_AUTH_DOMAIN=mail-box-client-5c701.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mail-box-client-5c701
VITE_FIREBASE_STORAGE_BUCKET=mail-box-client-5c701.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=806505012342
VITE_FIREBASE_APP_ID=1:806505012342:web:05638b5c39b994e5de9357
VITE_FIREBASE_MEASUREMENT_ID=G-P7MVJ6T5QR